html {
  padding: 0 !important;
  margin: 0px;
  box-sizing: border-box;
  white-space: inherit;
  font-family: Abel, Open Sans;
}

body {
  margin: 0;
  padding: 0 !important;
  /* max-width: 100%; */
  /* height: 100% !important; */
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Abel, Open Sans;
}
