html {
  height: 100% !important;
  margin: 0px;
  box-sizing: border-box;
  white-space: inherit;
}

body {
  margin: 0;
  padding: 0 !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  height: 100% !important;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (hover: none) and (pointer: coarse) {
  html {
    overflow-x: hidden !important;
  }
}

code {
  font-family: abel, open sans;
}
