.reactMarkDown {
  font-family: 'Abel';
  text-align: center;
}

p,
li {
  color: #666;
}
.reactMarkDown p,
li {
  color: #8c8b8b;
  font-size: 1rem;
  line-height: 1.6em;
  letter-spacing: 0.04em;
  font-weight: 600;
  font-family: 'Abel';
}

a {
  color: orange;
  text-decoration: none;
  font-weight: 700;
}

strong {
  color: black;
  font-weight: 900;
}

.reactMarkDownGridA {
  font-family: 'Abel';
}

.reactMarkDown li,
p {
  font-size: 1rem;
}
.reactMarkDown h1 {
  font-size: 1.4rem;
  font-family: 'Abel';
}
.reactMarkDown h2,
h3 {
  font-size: 1.4rem;
  font-family: 'Abel';
}
.reactMarkDown h4,
h5 {
  font-size: 1.4rem;
  font-family: 'Abel';
}
.reactMarkDown h6 {
  font-size: 1.4rem;
  font-family: 'Abel';
}

.reactMarkDown img {
  margin: 2em auto;
  max-width: 100%;
  height: auto;
}
.reactMarkDownGridA {
  margin-bottom: 1em;
}
.reactMarkDownGridA li,
p {
  font-size: 1.3rem;
}
.reactMarkDownGridA h1 {
  font-size: 1.4rem;
  font-family: 'Abel';
}
.reactMarkDownGridA h2,
h3 {
  font-size: 1.4rem;
  font-family: 'Abel';
}
.reactMarkDownGridA h4,
h5 {
  font-size: 1.4rem;
  font-family: 'Abel';
}
.reactMarkDownGridA h6 {
  font-size: 1.4rem;
  font-family: 'Abel';
}

.reactMarkDownGridA img {
  margin: 2em auto;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 600px) {
  .reactMarkDown li,
  p,
  a {
    font-size: 1.2rem;
    font-family: 'Abel';
  }
  .reactMarkDown h1 {
    font-size: 1.6rem;
  }
  .reactMarkDown h2,
  h3 {
    font-size: 1.5rem;
  }
  .reactMarkDown h4,
  h5 {
    font-size: 1.4rem;
  }
  .reactMarkDown h6 {
    font-size: 1.3rem;
  }
  .reactMarkDownGridA li,
  p,
  a {
    font-size: 1.1rem;
    font-family: 'Abel';
  }
  .reactMarkDownGridA h1 {
    font-size: 1.6rem;
  }
  .reactMarkDownGridA h2,
  h3 {
    font-size: 1.5rem;
  }
  .reactMarkDownGridA h4,
  h5 {
    font-size: 1.4rem;
  }
  .reactMarkDownGridA h6 {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 900px) {
  .reactMarkDown li,
  p {
    font-size: 1.35rem;
  }
  .reactMarkDown h1 {
    font-size: 1.9rem;
  }
  .reactMarkDown h2,
  h3 {
    font-size: 1.7rem;
  }
  .reactMarkDown h4,
  h5 {
    font-size: 1.4rem;
  }
  .reactMarkDown h6 {
    font-size: 1.3rem;
  }
  .reactMarkDownGridA li,
  p,
  a {
    font-size: 1.35rem;
  }
  .reactMarkDownGridA h1 {
    font-size: 1.5rem;
  }
  .reactMarkDownGridA h2,
  h3 {
    font-size: 1.35rem;
  }
  .reactMarkDownGridA h4,
  h5 {
    font-size: 1.15rem;
  }
  .reactMarkDownGridA h6 {
    font-size: 1.2rem;
  }
}
