.reactMarkDown {
  font-family: 'Abel';
  box-sizing: border-box;
}
.reactMarkDown,
p,
a {
  color: #666;
  font-size: 1.3rem;
  line-height: 1.45em;
  letter-spacing: 0.09em;
  font-weight: 600;
  font-family: 'Abel';
}
.reactMarkDown,
li,
ol,
ul {
  color: #666;
  font-size: 1.3rem;
  line-height: 1.45em;
  letter-spacing: 0.09em;
  font-weight: 600;
  font-family: 'Abel';
}
.reactMarkDown,
a {
  color: orange;
  text-decoration: none;
  font-weight: 900;
}

.reactMarkDown,
h1 {
  color: #3333;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.7em;
  font-family: 'Abel';
}
.reactMarkDown,
h2,
h3 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6em;
  font-family: 'Abel';
}
.reactMarkDown,
h4 {
  font-size: 1.6rem;
  font-weight: 800;
  font-family: 'Abel';
}
.reactMarkDown,
h5 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Abel';
}
.reactMarkDown,
h6 {
  font-size: 1.35rem;
  font-weight: 700;
  font-family: 'Abel';
}

.reactMarkDown,
img {
  margin: 2em auto;
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .reactMarkDown,
  li,
  ol,
  ul {
    font-size: 1.15rem;
    line-height: 1.4em;
    font-weight: 600;
    color: #777;
  }
  .reactMarkDown,
  p,
  a {
    font-size: 1.15rem;
    line-height: 1.3em;
    font-weight: 600;
    font-family: 'Abel';
    color: #777;
    letter-spacing: 0.05em;
  }

  .reactMarkDown,
  a {
    color: orange;
    text-decoration: none;
    font-size: 1.15rem;
    line-height: 1.3em;
    letter-spacing: 0.05em;
    font-weight: 900;
    font-family: 'Abel';
  }

  .reactMarkDown,
  h1 {
    font-size: 1.5rem;
  }
  .reactMarkDown,
  h2,
  h3 {
    font-size: 1.4rem;
  }
  .reactMarkDown,
  h4,
  h5 {
    font-size: 1.25rem;
  }
  .reactMarkDown,
  h6 {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 900px) {
  .reactMarkDown,
  li,
  ol,
  ul {
    font-size: 1.25rem;
    line-height: 1.4em;
    color: #777;
  }
  .reactMarkDown,
  p {
    font-size: 1.25rem;
    line-height: 1.4em;
    color: #777;
  }
  .reactMarkDown,
  a {
    color: orange;
    text-decoration: none;
    font-weight: 700;
  }
  .reactMarkDown,
  h1 {
    font-size: 1.65rem;
  }
  .reactMarkDown,
  h2,
  h3 {
    font-size: 1.5rem;
  }
  .reactMarkDown,
  h4,
  h5 {
    font-size: 1.35rem;
  }
  .reactMarkDown,
  h6 {
    font-size: 1.2rem;
  }
}
