.reactMarkDown {
  font-family: 'Abel';
}

.reactMarkDown p,
li {
  color: #666;
  font-size: 1.2rem;
  line-height: 1.5em;
  letter-spacing: 0.09em;
  font-weight: 600;
  font-family: 'Open Sans';
  font-family: 'Abel';
}
.reactMarkDown p strong {
  color: black;
  font-size: 1.3rem;
  font-weight: 700;
  font-family: 'Abel';
}

@media screen and (min-width: 600px) {
  .reactMarkDown li {
    font-size: 1rem;
  }
  .reactMarkDown h1 {
    font-size: 1.4rem;
    font-family: 'Abel';
  }
  .reactMarkDown h2,
  h3 {
    font-size: 1.4rem;
    font-family: 'Abel';
  }
  .reactMarkDown h4,
  h5 {
    font-size: 1.4rem;
    font-family: 'Abel';
  }
  .reactMarkDown h6 {
    font-size: 1.4rem;
    font-family: 'Abel';
  }
  .reactMarkDown p {
    font-size: 1rem;
    font-family: 'Abel';
  }
  .reactMarkDown img {
    margin: 2em auto;
    max-width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 900px) {
  .reactMarkDown li {
    font-size: 1.2rem;
    font-family: 'Abel';
  }
  .reactMarkDown h1 {
    font-size: 1.6rem;
  }
  .reactMarkDown h2,
  h3 {
    font-size: 1.5rem;
  }
  .reactMarkDown h4,
  h5 {
    font-size: 1.4rem;
  }
  .reactMarkDown h6 {
    font-size: 1.3rem;
  }
  .reactMarkDown p {
    font-size: 1.2rem;
    font-family: 'Abel';
  }
}
@media screen and (min-width: 1400px) {
  .reactMarkDown li {
    font-size: 1.35rem;
  }
  .reactMarkDown h1 {
    font-size: 1.9rem;
  }
  .reactMarkDown h2,
  h3 {
    font-size: 1.7rem;
  }
  .reactMarkDown h4,
  h5 {
    font-size: 1.7rem;
  }
  .reactMarkDown h6 {
    font-size: 1.5rem;
  }
  .reactMarkDown p {
    font-size: 1.35rem;
    font-family: 'Abel';
  }
}

.reactMarkDownGridA {
  font-family: 'Abel';
  width: 80%;
}
.reactMarkDownGridA p,
li {
  text-align: center;
  color: #8c8b8b;
  font-size: 0.9rem;
  line-height: 1.6em;
  letter-spacing: 0.04em;
  font-weight: 600;
  font-family: 'Open Sans', 'Abel';
}

strong {
  color: black;
  font-weight: 900;
}
