html: {
  height: 100%;
}

body {
  /* overflowx: hidden; */
  margin: 0 auto;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* prevent to hide the scroll bar , Mui component popover style the body with overflow: hidden and  add padding to image backround of carousel*/
@media screen and (min-width: 900px) {
  body {
    overflow-y: auto !important;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
