.reactMarkDown p,
li {
  color: #666;
  font-size: 1.2rem;
  line-height: 1.5em;
  letter-spacing: 0.09em;
  font-weight: 600;
  fontfamily: Abel;
}
.reactMarkDown p strong {
  color: black;
  font-size: 1.3rem;
  font-weight: 700;
}

.reactMarkDown img {
  margin: 2em auto;
  max-width: 100%;
  height: auto;
}
